################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DotNetCore/DotNetCore.Test/.vs/DotNetCore.Test
/DotNetCore/DotNetCore.Test/Test.CoreAppLifeTime/bin/Debug/net5.0
/DotNetCore/DotNetCore.Test/Test.CoreAppLifeTime/obj
